.gallery {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(10, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 880px;
    margin-top: 73px;
    max-height: 590px;
    align-items: start;
    gap: 14px;
    min-height: 320px;
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(4, 1fr);
        margin-top: 25px;
        min-height: 277px;
    }
}

@media screen and (max-width: 550px) {
    .gallery {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(7, 1fr);
        margin-top: 12px;
        min-height: 550px;
    }
}

@media screen and (max-width: 425px) {
    .gallery {
        min-height: 380px;
        gap: 8px;
    }
}