.popup__container {
    background-color: #f0faf2;
    margin: 0;
    width: 430px;
    border-radius: 9px;
    align-self: center;
    position: relative;
    padding: 34px 36px 37px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 450px) {
    .popup__container {
      width: 415px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .popup__container {
      width: 282px;
      padding: 25px 22px;
    }
  }


