.navigation__link {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-style: none;
    transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
    .navigation__link {
        font-size: 15px;
    }
}

.navigation__link:hover {
    opacity: 0.6;
  }