.popup__telegram-button {
  background-image: url(../../../images/icons8-телеграмма-app-30.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  transition: 0.8s;
  cursor: pointer;
  background-position: center;
  background-size: contain;
}

.popup__telegram-button:hover {
  opacity: 0.6;
}
