.popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/icons8-удалить-50.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: 0;
  transition: 0.8s;
  cursor: pointer;
  background-position: center;
  background-size: contain;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 525px) {
  .popup__close-icon {
    top: -48px;
    right: 0;
  }
}

@media screen and (max-width: 425px) {
  .popup__close-icon {
    background-size: cover;
    height: 20px;
    width: 20px;
    top: -36px;
  }
}
